* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
}

.header-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 188, 156, 0.4)), to(rgba(231, 76, 60, 0.4))), url("nature-flowers-garden-87452.jpg");
  background: linear-gradient(rgba(26, 188, 156, 0.4), rgba(231, 76, 60, 0.4)), url("nature-flowers-garden-87452.jpg");
  background-size: cover;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.header-img h1 {
  font-size: 4.5rem;
  opacity: 0.9;
  font-family: 'Pacifico', cursive;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.header-img h2 {
  margin-top: 1rem;
  color: black;
  font-size: 3rem;
  font-family: 'Pacifico';
}

.header-img a {
  text-decoration: none;
  margin-bottom: 3rem;
  position: absolute;
  bottom: 0;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.header-img a button {
  padding: 1rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid black;
  font-size: 1.4rem;
  cursor: pointer;
  color: white;
  font-weight: 800;
}

.header-img a button:hover {
  color: black;
  background: #cce0ff;
}

.nav-buttons {
  width: 20%;
  height: 100%;
  background: black;
  opacity: 0.5;
  position: fixed;
  left: -20%;
  top: 0;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  z-index: 5;
}

.nav-buttons .toggle-btn {
  position: absolute;
  left: 500px;
  top: 20px;
}

.nav-buttons .toggle-btn .burger {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 3px 0px;
}

.active {
  left: 0px;
}

.nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.nav-elements li {
  margin-top: 1rem;
  font-size: 2rem;
}

.nav-elements li .nav-link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.nav-elements li .nav-link:hover {
  color: #0052cc;
  border-bottom: 2px solid white;
}

main {
  height: 100%;
}

@media (min-width: 700px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 80%;
        grid-template-columns: 20% 80%;
  }
}

.main-section {
  grid-column: 2 / -1;
  height: 100%;
}

.main-section .power-heading__pretend {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  opacity: .75;
  text-transform: uppercase;
}

.main-section span {
  display: block;
  margin-left: 1rem;
  text-align: left;
  font-size: 2.5rem;
}

.main-section p {
  text-align: left;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}

@media (min-width: 700px) {
  .main-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

.dom-img {
  margin-top: 2rem;
}

.example {
  margin-left: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.example .color-background {
  background-color: #efefef;
  width: 80%;
  margin: 1rem 0 1rem 1rem;
  padding: 1rem 2rem;
}

.result {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.result img {
  margin-top: 1rem;
  width: 90%;
}

.explanation {
  grid-column: 1 / -1;
  margin-top: 1rem;
  margin-left: 1rem;
}

.explanation h1 {
  font-size: 2.5rem;
}

.section-img {
  height: 40rem;
  background: url(animated-gray.png);
  background-size: cover;
  grid-column: 1 / -1;
}
/*# sourceMappingURL=main.css.map */