@mixin flex-container-middle($direction) {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:$direction
}

@mixin media-min-width($width){
    @media(min-width:$width){
      @content
    }
}
$var-height:100%;
$var-size:1rem;

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


html{
    height:$var-height;
}

body{
    height: $var-height;
    font-family: 'Nunito Sans', sans-serif;
}

//the main image webpage

.header-img{
    @include flex-container-middle(column);
    height: $var-height;
    background:  linear-gradient(rgba(26, 188, 156, 0.4), rgba(231, 76, 60, 0.4)),url("nature-flowers-garden-87452.jpg");
    background-size:cover;
    color:#ffffff;
    text-align:center;
    position: relative;

    h1{
        font-size:$var-size * 4.5;
        opacity:0.9;
        font-family: 'Pacifico', cursive;
        text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    }

   h2{
       margin-top:1rem;
       color:black;
       font-size:$var-size * 3;
       font-family: 'Pacifico';
   }
   a{
        text-decoration:none;
        margin-bottom:$var-size *3;
        position: absolute;
        bottom:0;
        text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

        button{
            padding:1rem;
            border-radius:5px;
            background:rgba(255, 255, 255, 0);
            border:2px solid black;
            font-size:$var-size * 1.4;
            cursor: pointer;
            color:white;
            font-weight:800;
            &:hover{
                color:black;
                background:#cce0ff;
            }
        }
        
    }

   
}


//the sidebar for the page

.nav-buttons{
    width:100vw;
    height:50vh;
    background:black;
    opacity:0.5;
    position:fixed;
    top:-15vh;
    transition:all 500ms linear;
    z-index:5;


    @include media-min-width(700px){
        height:20vh;
    }

}
//the navbar toggle button class
.active{
    top:0px;
}
.nav-elements{
    @include flex-container-middle(column);
    height:100%;
    width:100%;
    position:relative;
    li{
        margin-top:1rem;
        font-size:$var-size *2;
        .nav-link{
            color:rgba(255,255,255,0.9);
            text-decoration:none;

            &:hover{
                color:#0052cc;
                border-bottom:2px solid white;
            }
        }
    }
    .toggle-btn{
        position:absolute;
        left:50vw;
        bottom:0;
        margin-bottom:0.5rem;
        .burger{
            display:block;
            width:30px;
            height:5px;
            background:white;
            margin:3px 0px;
        }
    }
    @include media-min-width(700px){
        @include flex-container-middle(row);
        li{
            margin-left:2rem;
        }
    }
}


main{
    height:100%;
}

//the main session of the page
.main-section{
    height:100%;
    @include flex-container-middle(column);
    .power-heading__pretend{
        font-size:$var-size *3;
        font-weight: 400;
        opacity: .75;
        text-transform: uppercase;
    }

    span{
        display:block;
        margin-left:1rem;
        text-align:left;
        font-size:$var-size *4;
    }

    p{
        text-align:left;
        margin-top:1rem;
        margin-left:1rem;
        font-size:$var-size *1.5;
        line-height:1.5;
    }
}

  .section1{
    background:url("background1.jpg");
    background-size:cover;
    flex-wrap:wrap;
    .dom-img{
        align-self: flex-end;
        margin-right:3rem;
    }
    

    
}

.section2{
    background:url("background2.jpg");
    background-size:cover;
    color:white;


    .content2{
        margin-right:2rem;
        margin-top:4rem;
            span{
                margin-right:2rem;
                text-align:right;
            }

            p{
                margin-right:2rem;
                text-align: right;
            }
    }
}

