@mixin flex-container-middle($direction) {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:$direction
}

@mixin media-min-width($width){
    @media(min-width:$width){
      @content
    }
}
$var-height:100%;
$var-size:1rem;

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


html{
    height:$var-height;
}

body{
    height: $var-height;
    font-family: 'Lato', sans-serif;
}

//the main image webpage

.header-img{
    @include flex-container-middle(column);
    height: $var-height;
    background:  linear-gradient(rgba(26, 188, 156, 0.4), rgba(231, 76, 60, 0.4)),url("nature-flowers-garden-87452.jpg");
    background-size:cover;
    color:#ffffff;
    text-align:center;
    position: relative;

    h1{
        font-size:$var-size * 4.5;
        opacity:0.9;
        font-family: 'Pacifico', cursive;
        text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    }
    
    .arrow{
        position:absolute;
        bottom:0;
        margin-bottom:$var-size *3;
        height: 3vw;
        width: 3vw;
        border-style: solid;
        border-color: white;
        border-width: 0px 4px 4px 0px;
        transform: rotate(45deg);
        transition: border-color 150ms ease-in-out;
        text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

        &:hover,
        &:focus{
            border-color:#4da6ff;
        }
    }
}


//the sidebar for the page

.nav-buttons{
    width:20%;
    height:100%;
    background:black;
    opacity:0.5;
    position:fixed;
    left:-20%;
    top:0;
    transition:all 500ms linear;

    .toggle-btn{
        position:absolute;
        left:500px;
        top:20px;

        .burger{
            display:block;
            width:30px;
            height:5px;
            background:#151719;
            margin:3px 0px;
        }
    }


}
.nav-elements{
    @include flex-container-middle(column);
    height:100%;
    li{
        margin-top:1rem;
        font-size:$var-size *2;
        .nav-link{
            color:rgba(255,255,255,0.9);
            text-decoration:none;

            &:hover{
                color:#0052cc;
                border-bottom:2px solid white;
            }
        }
    }
}


.active{
    left:0px;
}
